.logo-img{
	width: 150px;
}

.content-header{
	text-transform: capitalize;
}

/* JQUERY UI OVERRIDE */
.ui-widget{
	font-family: inherit !important;
	font-size: 14px !important; 
	color: #555555;
}

.ui-tooltip{
	border-width: 0px;
}

.ui-state-danger{
	border: 1px solid #d73925 !important;
  	background: #dd4b39 !important;
  	color: #FFFFFF !important;	
}
 
.ui-menu-item:hover{
	font-weight: normal !important;
}

.student-card{
	color: #333333 !important;
}

.student-card:hover .info-box{
	background-color: #337AB7 !important; 
	color: #FFFFFF;
}

.student-card-course{
	overflow: hidden !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px !important;
	display: block;
}

.student-card-idnum{
	font-size: 12px;
	overflow: hidden !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

.underline{
	border-bottom: 1px solid #000;
}